@model SkemaSystem.Models.Scheme
@{
    ViewBag.Title = "Skemalægning";
}

@section Subheader {
    <div class="form-group">
        <!--<div class="col-sm-4">
            <label class="control-label">Uddannelse</label>
            @Html.DropDownList("education", new SelectList(ViewBag.educations, "Value", "Text"), new { @class = "form-control" })
        </div>-->
        <div class="col-sm-4">
            <label class="control-label">Skema</label>
            @Html.DropDownList("scheme", new SelectList(ViewBag.schemes, "Value", "Text"), new { @class = "form-control" })
        </div>
        <div class="col-sm-4">
            <label class="control-label">Fag</label>
            @Html.Partial("_SubjectDropDown", @Model)
            @*@Html.DropDownList("rooms", new SelectList(ViewBag.rooms, "Value", "Text"), new { @class = "form-control" })*@
        </div>
        <div class="col-sm-4">
            <label class="control-label">Lokale</label>
            @Html.DropDownList("rooms", new SelectList(ViewBag.rooms, "Value", "Text"), new { @class = "form-control" })
        </div>
    </div>
}

@Html.Partial("_SchedulePartial", (SkemaSystem.Models.ViewModels.TableViewModel)ViewBag.TableViewModel)
