@model SkemaSystem.Models.Scheme
@{
    ViewBag.Title = "Skemalægning";
}

@section Subheader {
    <div class="row">
        <div class="col-sm-3">
            <label class="control-label">Skema</label>
            <form action="@Url.Action("ChangeSubjectDropDown")" method="get" id="scheme-selector" data-action-subject="@Url.Action("ChangeSubjectDropDown")" data-action-scheme="@Url.Action("ChangeScheme")">
                @Html.DropDownList("scheme", new SelectList(ViewBag.schemes, "Value", "Text"), "- Vælg skema -", new { @class = "form-control", onchange = "$(this.form).submit();" })
            </form>
        </div>
        <div class="col-sm-3" id="subject-selector">
            @Html.Partial("_SubjectDropDown", Model)
        </div>
        <div class="col-sm-3" id="room-selector">
            <label class="control-label">Lokale</label>
            @Html.DropDownList("rooms", new SelectList(ViewBag.rooms, "Value", "Text"), new { @class = "form-control" })
        </div>
        <div class="col-sm-3" id="bulk-selector">
            <label class="control-label">Massehandlinger</label>
            <form>
                <select class="form-control" onchange="$(this.form).submit();">
                    <option value="">- Vælg handling -</option>
                    <option value="delete">Slet markerede</option>
                    <option value="move">Flyt markerede</option>
                </select>
            </form>
        </div>
    </div>
}

@section scripts {
    
}

<div id="schemes">
    
</div>