@{
    ViewBag.Title = "Skemalægning";
}

@section Subheader {
    <div class="row">
        <div class="col-sm-3">
            <label class="control-label">Skema</label>
            <form action="@Url.Action("ChangeSubjectDropDown")" method="get" id="scheme-selector" data-action-subject="@Url.Action("ChangeSubjectDropDown")" data-action-scheme="@Url.Action("ChangeScheme")">
                <select class="form-control" onchange="$(this.form).submit();" name="scheme">
                    <option value="">- Vælg skema -</option>
                    @foreach (KeyValuePair<string, List<SkemaSystem.Models.Scheme>> group in ViewBag.schemeGroups)
                    {
                        <optgroup label="@(group.Key)">
                            @foreach (var scheme in group.Value)
                            {
                                <option value="@scheme.Id">@(scheme.ClassModel.ClassName) (@(scheme.Semester.Number). semester)</option>
                            }
                        </optgroup>
                    }
                </select>
            </form>
        </div>
        <div class="col-sm-3" id="subject-selector">
            @Html.Partial("_SubjectDropDown")
        </div>
        <div class="col-sm-3" id="room-selector">
            <label class="control-label">Lokale</label>
            @Html.DropDownList("rooms", new SelectList(ViewBag.rooms, "Value", "Text"), new { @class = "form-control" })
        </div>
        <div class="col-sm-3" id="bulk-selector">
            <label class="control-label">Massehandlinger</label>
            <form>
                <select class="form-control" onchange="$(this.form).submit();">
                    <option value="">- Vælg handling -</option>
                    <option value="delete">Slet markerede</option>
                    <option value="move">Skift lokale for markerede</option>
                    <option value="reschedule">Flyt markerede blokke</option>
                </select>
            </form>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.scheme tbody td', function (e) {
                var cell = $(this);

                if (cell.children().length == 0) {
                    // schedule
                    var schemeId = $('#scheme-selector select option:selected').val();
                    var subjectId = $('#subject-selector select option:selected').val();
                    var roomId = $('#room-selector select option:selected').val();
                    var date = cell.closest('tbody').prev('thead').find('> tr > th:eq(' + cell.index() + ')').attr('data-datetime');
                    var blockNumber = cell.parent().parent().children().index(this.parentNode);
                    
                    if (subjectId == '') {
                        alert('Vælg det fag du ønsker at skemalægge.');
                        return false;
                    }

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("lesson")',
                        data: 'schemeId=' + schemeId +
                            '&subjectId=' + subjectId +
                            '&roomId=' + roomId +
                            '&date=' + date +
                            '&blockNumber=' + blockNumber,
                        success: function (response) {
                            try {
                                var response = jQuery.parseJSON(response);
                            } catch(exception) {}
                            if (typeof response == 'object') {
                                alert(response['message']);
                            } else {
                                cell.replaceWith(response);
                            }
                        }
                    });
                } else {
                    // select for bulk actions
                    cell.toggleClass('selected');
                }
            });

            $(document).on('submit', '#bulk-selector form', function (e) {
                var action = $(this).find('select option:selected').val();

                callAction(action, undefined);

                return false;
            });

            $.contextMenu({
                selector: '.scheme tbody td[data-lesson-id]',
                callback: function (key, options) {
                    callAction(key, $(this));
                },
                items: {
                    "delete": { name: "Slet blok" },
                    "move": { name: "Skift lokale" },
                }
            });

            $(document).on('click', 'form#room-relocator input[type="button"]', function () {
                $('#overlay').fadeOut('fast');
                $('#relocate').fadeOut('fast');

                var form = $(this).parents('form:first');
                form.unbind('submit');
            });

            $(document).on('click', '#reschedule form input[type="button"]', function () {
                $('#overlay').fadeOut('fast');
                $('#reschedule').fadeOut('fast');

                var form = $(this).parents('form:first');
                form.unbind('submit');

                unbindReschedule();
            });
        });

        function callAction(action, cell) {
            var cells = cell == undefined ? $('.scheme tbody td.selected') : cell;
            var schemeId = $('#scheme-selector select option:selected').val();
            var ids = [];

            $.each(cells, function (index, element) {
                ids.push($(element).attr('data-lesson-id'));
            });

            if (action == 'delete') {
                var prompt = (cells.length == 1) ? 'Er du sikker på, at du vil blokken?' : 'Er du sikker på, at du vil slette alle valgte blokke?';
                
                if (confirm(prompt)) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("lesson/delete")',
                        data: 'schemeId=' + schemeId + '&lessonIds=' + ids.join(','),
                        success: function (response) {
                            $.each(cells, function (index, element) {
                                $(element).html('');
                                $(element).removeClass('selected');
                            });
                        }
                    });
                }
            } else if (action == 'move') {
                var form = $('form#room-relocator');

                form.find('select option:first').prop('selected', true);

                $('#overlay').fadeToggle('fast');
                $('#relocate').fadeToggle('fast');

                $('form#room-relocator').bind('submit', function () {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("lesson/relocate")',
                        data: 'schemeId=' + schemeId + '&lessonIds=' + ids.join(',') + '&' + form.serialize(),
                        success: function (response) {
                            try {
                                var response = jQuery.parseJSON(response);
                            } catch (exception) { }
                            if (typeof response == 'object') {
                                alert(response['message']);
                            } else {
                                var room = form.find('select option:selected').text();
                                $.each(cells, function (index, element) {
                                    $(element).children('.scheme-roomname').text(room);
                                });
                                $('#overlay').fadeOut('fast');
                                $('#relocate').fadeOut('fast');
                                form.unbind('submit');

                                cells.removeClass('selected');
                            }
                        }
                    });
                    return false;
                });
            } else if (action == "reschedule") {
                // TODO if muliple cells chosen, they must be in row

                var form = $('#reschedule form');

                form.find('select option:first').prop('selected', true);

                $('#overlay').fadeToggle('fast');
                $('#reschedule').fadeToggle('fast');

                var button = form.find('input[type="submit"]');

                form.find('select#reschedule-method').change(function () {
                    var method = $(this).children('option:selected').val();

                    form.find('#reschedule-results').html('');
                    $('#reschedule-teacher').hide();
                    button.prop('disabled', true);

                    if (method == "teacher") {
                        $('#reschedule-teacher option:first').prop('selected', true);
                        $('#reschedule-teacher').show();
                        button.prop('disabled', true);

                        form.find('#reschedule-teacher select').unbind('change');

                        $('#reschedule-teacher').find('select').change(function () {
                            var teacher = $(this).children('option:selected').val();

                            form.find('#reschedule-results').html('');
                            button.prop('disabled', true);

                            //button.prop('disabled', teacher == '');

                            if (teacher != '') {
                                reschedule(ids);
                            }
                        });
                    } else if (method == '') {
                        $('#reschedule-teacher').hide();
                        button.prop('disabled', true);
                    } else {
                        //$('#reschedule-teacher').hide();
                        //button.prop('disabled', false);
                        reschedule(ids);
                    }
                });

                $(form).bind('submit', function () {
                    return false;
                });
            }

            $('#bulk-selector select option:first').prop('selected', true);
        }

        function unbindReschedule() {
            var form = $('#reschedule form');

            form.unbind('submit');

            form.find('select#reschedule-method').unbind('change');
            form.find('#reschedule-teacher select').unbind('change');
            form.find('#reschedule-options').unbind('change');

            form.find('select#reschedule-method option:first').prop('selected', true);
            form.find('#reschedule-teacher select option:first').prop('selected', true);

            form.find('#reschedule-results').html('');
            $('#reschedule-teacher').hide();
        }

        function reschedule(ids) {
            var form = $('#reschedule form');

            form.unbind('submit');

            $.ajax({
                type: 'GET',
                url: '@Url.Action("reschedule")',
                data: 'blockIds=' + ids.join(',') + '&' + form.serialize(),
                success: function (response) {
                    form.find('#reschedule-results').html(response).find('#reschedule-options').change(function () {
                        var option = $(this).children('option:selected').val();
                        
                        form.find('input[type="submit"]').prop('disabled', option.length == 0);

                        form.submit(function () {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("reschedule")',
                                data: 'blockIds=' + ids.join(',') + '&' + form.serialize(),
                                success: function (response) {
                                    $('form#scheme-selector').submit();

                                    $('#overlay').fadeOut('fast');
                                    $('#reschedule').fadeOut('fast');

                                    unbindReschedule();
                                }
                            });

                            return false;
                        });
                    });
                }
            });
        }
    </script>
}

<div id="schemes">
    
</div>

<div id="overlay"></div>
<div id="relocate" class="modal">
    <form class="form-horizontal" id="room-relocator">
        <div class="form-group">
            <label class="control-label col-md-2">Flyt til:</label>
            <div class="col-md-10">
                @Html.DropDownList("roomId", new SelectList(ViewBag.rooms, "Value", "Text"), "- Vælg lokale -", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Flyt" class="btn btn-primary" />
                <input type="button" value="Annuller" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<div id="reschedule" class="modal">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">Metode:</label>
            <div class="col-md-9">
                <select id="reschedule-method" name="method" class="form-control">
                    <option value="">- Vælg metode -</option>
                    <option value="hole">Find hul i skema</option>
                    <option value="behind">Flyt i forlængelse af egne timer</option>
                    <option value="teacher">Byt med lærer</option>
                </select>
            </div>
        </div>
        <div id="reschedule-teacher" class="form-group" style="display:none;">
            <label class="control-label col-md-3">Byt med:</label>
            <div class="col-md-9">
                @Html.DropDownList("chosenTeacherId", new SelectList(ViewBag.teachers, "Value", "Text"), "- Vælg lærer -", new { @class = "form-control" })
                @*<select class="form-control">
                    <option>- Vælg lærer -</option>
                    <option value="hole">Find hul i skema</option>
                    <option value="behind">Flyt i forlængelse af egne timer</option>
                    <option value="teacher">Byt med lærer</option>
                </select>*@
            </div>
        </div>

        <div id="reschedule-results"></div>
        @*@Html.Partial("_RescheduleResults")*@

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Flyt" class="btn btn-primary" disabled="disabled" />
                <input type="button" value="Annuller" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>