@model SkemaSystem.Models.ClassModel

@{
    ViewBag.Title = "Detaljer om "+Model.ClassName;
}

@section Subheader {
    @Html.Partial("_AdminTabsPartial")
}

<h2>@ViewBag.Title</h2>

<div>

    <div class="row">
        <div class="col-sm-2"><b>Uddannelse:</b></div>
        <div class="col-sm-10">@Model.Education.Name</div>
    </div>

    <div class="row">
        <div class="col-sm-2"><b>Nuværende semester:</b></div>
        <div class="col-sm-10">@(Model.ActiveSchemes[@Model.ActiveSchemes.Count()-1].Semester.Number) af @Model.Education.Semesters.Count()</div>
    </div>
</div>
<br />
<p>
    @Html.ActionLink("Tilbage til klasseoversigten", "Index") |
    @Html.ActionLink("Ændre", "Edit", new { id = Model.Id })
</p>
