@model SkemaSystem.Models.Education

@{
    ViewBag.Title = "Detaljer";
}

@section Subheader {
    @Html.Partial("_AdminTabsPartial")
}

<h2>Detaljer</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
	<hr />

    <div class="row">
        <div class="col-sm-3" style="font-weight: bold">
            Uddannelsens navn:
        </div>
        <div class="col-sm-9">
            @Model.Name
        </div>
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="col-sm-3" style="font-weight: bold">
            Uddannelsens tilknyttede Lærerer:
        </div>
        <div class="col-sm-9">
            @foreach (var item in Model.Teachers)
            {
                @item.Name <br/>
            }
            
        </div>
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="col-sm-3" style="font-weight: bold">
            Uddannelsens tilknyttede Lokaler:
        </div>
        <div class="col-sm-9">
            @foreach (var item in Model.Rooms)
            {
                @item.RoomName<br />
            }

        </div>
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="col-sm-3" style="font-weight: bold">
            Uddannelsens tilknyttede Klasser:
        </div>
        <div class="col-sm-9">
            @foreach (var item in Model.Schemes)
            {
                @item.ClassModel.ClassName<br />
            }

        </div>
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="col-sm-3" style="font-weight: bold">
            Antal semestre på uddannelsen:
        </div>
        <div class="col-sm-9">
            @Model.NumberOfSemesters
        </div>
    </div>
    <hr />
</div>

<br />
<br />
<p>
    @Html.ActionLink("Opdatér uddannelsen", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
