@{
    IEnumerable<SkemaSystem.Models.Education> EducationModel = ViewBag.EducationModel;
     
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Skema System!</title>
    @Styles.Render("~/Content/less")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div>
            <div id="logo">SKEMASYS</div>
            <nav class="subnav">
                <ul>
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
        </div>
        <nav>
            <ul>
                @{var e = ViewContext.RouteData.Values["education"];}
                @foreach (var education in @EducationModel)
                {
                    <li>@Html.ActionLink(education.Name, "Details", "Education", new { education = education, Area = "Default" }, new { @class = (e != null && e.ToString() == education.Name) ? "selected" : "" })</li>
                }
            </ul>
        </nav>
    </header>

    <main>
        <div class="wrapper">
            @if (IsSectionDefined("Subheader"))
            {
                <section class="subheader">
                    @RenderSection("Subheader", required: false)
                </section>
            }
            <section>
                <div class="body-content">
                    @RenderBody()
                </div>
            </section>
        </div>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/schemesys")
    @RenderSection("scripts", required: false)
</body>
</html>
