@{
    IEnumerable<SkemaSystem.Models.Education> EducationModel = ViewBag.EducationModel;
     
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Skema System!</title>
    @Styles.Render("~/Content/less")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div>
            <div id="logo">SKEMASYS</div>
            <nav class="subnav">
                <ul>
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
        </div>
        <nav>
            <ul>
                @{var e = ViewContext.RouteData.Values["education"];}
                @foreach (var education in @EducationModel)
                {
                    <li>@Html.ActionLink(education.Name, "Details", "Education", new { education = education }, new { @class = (e != null && e.ToString() == education.Name) ? "selected" : "" })</li>
                }
            </ul>
        </nav>
    </header>

    <main>
        <div class="wrapper">
            @if (IsSectionDefined("Subheader"))
            {
                <section class="subheader">
                    @RenderSection("Subheader", required: false)
                </section>
            }
            <section>
                <div class="body-content">
                    @RenderBody()
                </div>
            </section>
        </div>
    </main>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Skema System", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Skema System!</p>
        </footer>
    </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/schemesys")
    @RenderSection("scripts", required: false)
</body>
</html>
