@model SkemaSystem.Models.ViewModels.OptionalSubjectViewModel

@{
    ViewBag.Title = "Opret valgfag";
}

<h2>Opret valgfag</h2>

<div class="row">
    <div class="col-sm-8">
        <form class="form-horizontal" action="@Url.Action("Create")" method="post">

            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" for="name">Navn:</label>
                </div>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="name" id="name" placeholder="Valgfags navn" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label">Semester:</label>
                </div>
                <div class="col-sm-6">

                    <select class="form-control" name="semester" id="semester" onchange="changeOptionalSubjectInfo();" action="@Url.Action("UpdateConflictsWith")">
                        <option value="">- Vælg semester -</option>
                        @{
                            SkemaSystem.Models.Education edu = ViewBag.Education;
                            List<SkemaSystem.Models.Semester> semesters = edu.Semesters;
                        }

                        @foreach (SkemaSystem.Models.Semester semester in semesters)
                        {
                            <option value="@semester.Id">@(semester.Number). semester</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label">Årgang:</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" name="year" id="year" onchange="changeOptionalSubjectInfo();" action="@Url.Action("UpdateConflictsWith")">
                        <option value="">- Vælg årgang -</option>
                        @foreach (string val in ViewBag.Years)
                        {
                            <option value="@val">@val</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <b>Vælg hvilke klasser og valgfag der skal tjekkes konflikter med nedenfor</b><br /><br />
                </div>
            </div>

            <div id="conflictSchemes">
                @Html.Partial("_ConflictSchemes", null)
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <b>Vælg hvilke fag der skal være i valgfaget</b><br /><br />
                </div>
            </div>

            <div id="optionalSubjects">
                @Html.Partial("_OptionalSubjectsList", null)
            </div>
            <input type="submit" class="btn btn-primary" value="Opret Valgfag" />
        </form>
    </div>

    <div class="col-sm-4">
        <div class="box">
            <h2>Opret nyt fag</h2>
            <form class="form-horizontal" data-schemesys-ajax="true" data-schemesys-target="#optionalSubjects" action="@Url.Action("CreateOptionalSubject")" method="post">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label class="control-label">Navn:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="name" id="name" />
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Opret" />
            </form>
        </div>
    </div>
</div>
<br />
<div>
    @Html.ActionLink("Tilbage til valgfagsoversigten", "Index")
</div>
