@model SkemaSystem.Models.Scheme

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div class="row">
    <div class="col-sm-8">
        <form class="form-horizontal" action="@Url.Action("Edit")" method="post">

            @Html.Hidden("schemeId", Model.Id)

            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" for="name">Navn:</label>
                </div>
                <div class="col-sm-6">
                    <input class="form-control" value="@Model.Name" type="text" name="name" id="name" placeholder="Valgfags navn" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <b>Vælg hvilke klasser og valgfag der skal tjekkes konflikter med nedenfor</b><br /><br />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8">
                    <table class="table">
                        <tr>
                            <td colspan="2"><b>Klasser</b></td>
                        </tr>
                        @if (@Model != null)
                        {
                            foreach (SkemaSystem.Models.Scheme s in @ViewBag.Schemes)
                            {
                                if (s.ClassModel != null)
                                {
                                    <tr>
                                        <td width="30%"><label for="@(s.Id)ConflictScheme">@s.ClassModel.ClassName</label></td>
                                        <td><input type="checkbox" name="conflictScheme" id="@(s.Id)ConflictScheme" @(@Model.ConflictSchemes.Contains(s) ? "checked" : "") value="@s.Id" /></td>
                                    </tr>
                                }
                            }
                        }

                        <tr>
                            <td colspan="2"><b>Valgfag</b></td>
                        </tr>

                        @if (@Model != null)
                        {
                            foreach (SkemaSystem.Models.Scheme s in @ViewBag.Schemes)
                            {
                                if (s.ClassModel == null && !s.Equals(Model))
                                {
                                    <tr>
                                        <td><label for="@(s.Id)ConflictScheme">@s.Name</label></td>
                                        <td><input type="checkbox" id="@(s.Id)ConflictScheme" name="conflictScheme" value="@s.Id" @(@Model.ConflictSchemes.Contains(s) ? "checked" : "") /></td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <b>Vælg hvilke fag der skal være i valgfaget</b><br /><br />
                </div>
            </div>

            <div id="optionalSubjects">
                @Html.Partial("_OptionalSubjectsListEdit", Model)
            </div>

            <input type="submit" class="btn btn-primary" value="Gem ændringer" />
        </form>
    </div>

    <div class="col-sm-4">
        <div class="box">
            <h2>Opret nyt fag</h2>
            <form class="form-horizontal" data-schemesys-ajax="true" data-schemesys-target="#optionalSubjects" action="@Url.Action("CreateOptionalSubject")" method="post">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label class="control-label">Navn:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="name" id="name" />
                    </div>
                </div>
                <br />
                <input type="submit" class="btn btn-primary" value="Opret" />
            </form>
        </div>
    </div>
</div>
<br />
<div>
    @Html.ActionLink("Tilbage til valgfagsoversigten", "Index")
</div>
