@model SkemaSystem.Models.Teacher

@{
    ViewBag.Title = "Detaljer";
}

@section Subheader {
    @Html.Partial("_AdminTabsPartial")
}

<h2>Detaljer</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Navn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Uddannelser
        </dt>

        <dd>
            @Html.Raw(string.Join(", ", @Model.Educations.Select(s => string.Format("{0}", s.Name))))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ændre", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tilbage til læreroversigten", "Index")
</p>
